{% extends "blog/base.html" %}
{% load static %}

{% block content %}
<div class="content-section">
    <div style="text-align:center;">
        <legend class="border-bottom mb-4">
            <h2>About</h2>
        </legend>
            <img src="{% static 'blog/CollabArt Logo.png' %}" width="300" height="300">
            <br><br>
            <p>
                Artisans are the backbone of India’s non-farm rural economy, engaged in craft production to earn a livelihood. However, propelled by loss of markets, declining skills and difficulty catering to new markets, the number of Indian artisans has been rapidly decreasing.
                Crafting a Livelihood calls for re-investment in India’s artisans to safeguard history, culture and an important source of livelihood.
                <br>
                With big international platforms like Amazon and Facebook looking to invest in small businesses and support local artisans, a social website to share and support them is the need of the hour.
                <br>
                Artisans can register to the site, create a user profile, post their artwork and other users can Like and Comment on posts by clicking on the post title and entering the post details page.
                <br>
                Supporting these artisans has been made easier through the website with the Buy or Donate option. 
                <br>
                
            </p>
    </div>
</div>
{% endblock content %}
